<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>You're not authorized to reach this page.Sowwy</p>
                </NotAuthorized>
            </AuthorizeRouteView> />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Who are you? What do you need here?😑</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
